.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &__title {
    padding: 14px;
    color: white;
  }

  &__box {
    text-align: center;
  }
}
